<header>
    <div class="left">
        <img src="logo.svg" />
    </div>

    <div class="center">
        {{> partials/search}}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/channels">Channels</a></li>
        </ul>

    </div>

    <div class="right">
        <div>
            {{> partials/account-signin}}
        </div>

        <div>
            <a href="/subscriptions">Subscriptions</a>
            <a href="/history">History</a>
            <a href="/upload">Upload</a>
        </div>
    </div>
</header>